/*==================== REUSABLE ====================*/
.container {
  max-width: 960px;
  margin: 0 auto;
}
.section {
  padding-bottom: 3rem;
}
.grid {
  display: grid;
}

.button {
  cursor: pointer;
  background-color: var(--first-color);
  padding: 0.6rem 1.5rem;
  font-weight: var(--font-medium);
  border-radius: 0.8rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--first-color); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container__loader {
  height: 450px;
  display: flex;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.modal__content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 600px;
}
.modal__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
  padding-bottom: 0.8rem;
  border-bottom: 1px solid;
}
.modal__close {
  width: max-content;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal__buttons {
  margin-top: var(--mt-1-5);
  display: flex;
  justify-content: space-between;
}
.modal__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.modal__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin-bottom: 0.8rem;
  font-weight: var(--font-medium);
}
.modal__span {
  font-weight: normal;
}
.modal__icon {
  width: max-content;
  font-size: var(--h3-font-size);
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== HEADER ====================*/
.header__container {
  grid-template-columns: 1fr 1fr;

  height: 80px;
  align-items: center;
}

/*==================== LOGO ====================*/
.logo__link {
  font-size: var(--h1-font-size);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo__icon {
  width: max-content;
  font-size: var(--big-font-size);
  color: var(--first-color);
}

/*==================== SWITCHER ====================*/
.switcher {
  justify-self: flex-end;
}
.switcher__icon {
  font-size: var(--h2-font-size);
  cursor: pointer;
}

/*==================== SEARCH ====================*/
.search {
  margin-bottom: var(--mb-1-5);
}
.search__container {
  grid-template-columns: 0.5fr 2fr;
  background-color: var(--container-color);
  padding: 0.8rem 1rem;
}
.search__select {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search__input {
  width: 100%;
}
.search__input:focus {
  outline: none;
}
.search__label {
  font-weight: var(--font-medium);
}

/*==================== USERS ====================*/
.table__button {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
